@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.movie {
    width: 100% !important;
}

.movie img {
    width: 100% !important;
    height: calc(100vh - 350px) !important;
    display: block !important;
    object-fit: cover;
}

#actions {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#actions button {
    min-width: 150px;
}

#empty {
    padding: 10px;
    border-radius: 1px;
    background-color: white;
    border-top: 1px solid #eee;
}

.ui.sidebar {
    background-color: #34495e !important;
    padding: 0px !important;
}

.ui.sidebar .sidebar-content {
    text-align: center;
}

.logo {
    height: 60px;
}

.app {
    margin-top: 85px;
}

.liked-movie img {
    width: 100% !important;
    height: auto !important;
    display: block !important;
    object-fit: cover;
}